output_data
input_data

*.idfx
*.pyc
GREEK_PHASE1.log
.vscode/launch.json
wta.tar
/venv/
/myconfig.py
/wta/scripts/xml_content_check.py
/wta/scripts/tests.py
/wta/scripts
.DS_Store
.idea/
docs/.DS_Store
docs/charts/.DS_Store
wta/.DS_Store
pyvenv.cfg
/wta/myconfig.py
